NODE1_WS_URL=wss://engine-southeastasia-sng-main.onrender.com/ws
DERIV_DEMO_API=
DERIV_APP_ID=1089
MCP_CHELSEA_URL=
VOLUME_THRESHOLD=10500
SL_MIN_PIPS=200
SL_MAX_PIPS=300
TP_MIN_PIPS=600
TP_MAX_PIPS=800
RR_MIN=2.0
RR_MAX=3.0
ORDER_SIZE=0.01
RUST_LOG=info
